.about-meta {
	margin: 0 0 .4em 0;
	color: #c7c7c7; }

.about-meta__date {
	margin-right: .5em; }

.about-meta__tags {
	margin-left: .4em; }

.about-meta__author {
	margin-left: 1.5em; }

.about-meta__avatar {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 .3em -.4em 0;
	border: none;
	box-shadow: none; }

.about img {
	max-width: 100%;
	margin: 0 auto;
	border-radius: 3px;
	text-align: center; }
.about pre {
	width: 95%; }
.about hr {
	display: block;
	width: 30%;
	margin: 2em 0;
	border-top: 1px solid #dddddd; }
