---
layout: default
---
<h2>Projects:</h2>

<ol class="project-list">
	{% for proj in site.projects %}
	<li>
		<h2 class="project-list__project-title project-title"><a href="{{ site.baseurl }}{{ proj.url }}" title="{{ proj.title }}">{{ proj.title }} </a></h2>
		{% if proj.imageurl %}
		<img src="{{ site.baseurl }}/images/{{ proj.imageurl }}" class="project-list__project-image project-image" alt="image of {{ proj.title }}">
		{% endif %}
		<hr class="project-list__divider ">
	</li>
	{% endfor %}
</ol>
